<div id = "comment-list">
    {{#commentDtos}}
        <div class = "card m-2">
            <div class = "card-header">
                {{nickname}}
            </div>
            <div class = "card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>